@keyframes icon--rotate--menu{
    from{
        transform: rotate(-270deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@keyframes menu--item--apparition{
    from{
        transform: scaleY(0);
        transform-origin: bottom;
        opacity: 0;
    }
    to{
        transform: scaleY(1);
        opacity: 1;
    }
}