.logo-loader{
   z-index: 2;
   position: relative;
   top: 40%;
   
   @include desktop-only{
     display: flex;
     justify-content: center;
     align-content: center;
   }
}
      
.logo-loader > img{
    position: absolute;
    top: 0px;
    left: 10%;
    width: 80%;
    margin-top: 40%;
    z-index: 2;
}     

.loader {
  z-index: 2;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  position: absolute;
  top: 250px;
  left: 140px;
  border: 5px solid;
  border-color: $clr_primary $clr_primary transparent transparent;
  box-sizing: border-box;
  animation: rotation 2.5s linear infinite forwards;
  
  @include tablet-only{
    top: 450px;
    left: 340px;
  }
  @include desktop-only{
    left: 45%;
  }
}

.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent $clr_secondary $clr_secondary;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 1.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 30px;
  height: 30px;
  border-color: $clr_tertiary $clr_tertiary transparent transparent;
  animation: rotation 2.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);

  }
  100% {
    transform: rotate(360deg);

  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
   
  }
}
    
       